<%= render 'shared/nav' %>
<div class="empty-top"></div>

<h2 class="title">Помощь храму</h2>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p><strong>E-mail:</strong> <%= @contact.email %></p>
      <p><strong>Телефон:</strong> <%= @contact.phone %></p>
      <p><strong>Адрес:</strong> <%= @contact.address %></p>
      <p><strong>Наши реквизиты:</strong></p>
      <div style="padding: 0 20px">
          <p><%= @contact.requisite.html_safe %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>