<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Вернуться", admin_path %>

      <h2>Сменить имя:</h2>

      <%= form_for current_user, :url => admin_update_name_path, method: 'post' do |form| %>
        <div class="block">
          <%= form.label "Имя" %><br />
          <%= form.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <%= form.submit 'Сменить имя' %>
      <% end %>

      <h2>Сменить пароль:</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="block field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

          <%= f.label "Введите новый пароль:" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> символов минимум</em>
            <br />
          <% end %>

          <%= f.label "Повторите пароль:" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

          <%= f.label "Введите старый пароль для подтверждения изменений" %><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Обновить" %>
        </div>
      <% end %>
      <%= link_to "Вернуться", admin_path %>
    </div>
  </div>
</div>

<%#h3>Cancel my account</h3>

<%#p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

