<% unless current_page?('/') %>
  <div><%= link_to "Главная", root_path %></div>
<% end %>

<% unless current_page?(controller: 'posts') %>
  <div><%= link_to "Новости", posts_path %></div>
<% end %>

<div><%= link_to "О храме"%> </div>
<div><%= link_to "Вопросы"%></div>
<div><%= link_to "Расписание" %></div>

<% unless current_page?(controller: 'help') %>
  <div><%= link_to "Помощь храму", help_index_path %></div>
<% end %>

<% if user_signed_in? %>
  <% unless current_page?(controller: 'contacts') %>
    <div><%= link_to "Админ", contacts_path %></div>
  <% end %>
<% end %>