<div class="container">
  <div class="row title">
    <% unless current_page?(controller: 'posts') %>
      <h2><%= link_to "Новости", posts_path %></h2>
    <% else %>
      <h2>Новости</h2>
    <% end %>
  </div>
  <div class="row news-block">
    <% @posts.each do |post|%>
      <div class="col-lg-6 about-post">
        <div class="image">
          <% if post.image? %>
            <%= image_tag(post.image.url, alt: 'image') %>
          <% else %>
            <%= image_tag('http://placehold.it/450x300', alt: 'image') %>
          <% end %>
        </div>
        <div class="description">
          <h2><%= link_to post.title, post_path(post) %></h2>
          <%#<time><%= post.created_at.to_date.strftime("%d %B %Y") %><%#/time%>
          <p><%= post.description.html_safe %></p>
          <div class="button-wrapper">
            <%= link_to "Читать", post_path(post), class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @page.present? && @page <= @last %>
    <div class="page-select">
      <% left = content_tag(:div, content_tag(:i, "", class: "fas fa-arrow-alt-circle-left"),
         class: @page == 1 ? "disable" : "" ) %>
      <% right = content_tag(:div, content_tag(:i, "", class: "fas fa-arrow-alt-circle-right"),
         class: @page == @last ? "disable" : "" ) %>      
      <%= link_to left, posts_path(page: 1), class: @page == 1 ? "disable" : "" %>
      <div class="page-info">
        <% if @page > 1 %>
          <%= link_to @page - 1, posts_path(page: @page - 1) %>
        <% end %>
        <strong>Страница <%= @page %></strong>
        <% if @page < @last %>
          <%= link_to @page + 1, posts_path(page: @page + 1) %>
        <% end %>
      </div>
      <%= link_to right, posts_path(page: @last), class: @page == @last ? "disable" : "" %>
    </div>
  <% end %>
</div>
