<%= render 'shared/nav' %>
<div class="mobile-f-screen h-md h-lg">
  <div class="picture">
    <%= image_tag('/uploads/picture/f_screen.jpg', alt: 'wall') %>
    <div class="content">
      <h1>Храм Рождества<br>Пресвятой Богородицы</h1>
      <p>г. Урай, Югорская епархия<br>Ханты-Мансийская митрополия<br>Русской Православной Церкви</p>
    </div>
  </div>
</div>
<div class="f-screen h-sm h-xs">
  <div class="text">
    <h1>Храм Рождества<br>Пресвятой Богородицы</h1>
    <p>г. Урай, Югорская епархия, Ханты-Мансийская митрополия<br>Русской Православной Церкви</p>
    <i class="fas fa-caret-down"></i>
  </div>
  <div class="wall">
    <%= image_tag('/uploads/picture/f_screen3.jpg', alt: 'wall') %>
  </div>
</div>

<% if @announcement.content.length > 10 %>
  <div class="container">
    <div class="row title">
      <h2>Объявления</h2>
    </div>
    <div class="announcement">
      <%= @announcement.content.html_safe %>
    </div>
  </div>
<% end %>

<div>
  <%= render 'shared/posts' %>
</div>

<div class="calendar">
  <div class="azbyka-saints component"></div>
</div>

<script async="async">printCalendar()</script>

<div id="parallax">
  <%= image_tag('/uploads/picture/f_screen.jpg', alt: 'wall', id: 'parallax-img') %>
  <div class="content">
    <h2 class="reverse">Галерея</h2>
    <div class="about component">
    </div>
  </div>
</div>

<div class="contacts">
  <div class="component">
    <h2>Контакты</h2>
    <div class="address">
      <p><i class="fas fa-home"></i><%= @contact.small_address %></p>
      <p><i class="fas fa-phone-square"></i><%= @contact.phone %></p>
      <p><i class="fab fa-vk"></i> Мы <%= link_to 'Вконтакте', "http://#{@contact.vk_link}" %></p>
      <p><i class="fas fa-envelope"></i><%= @contact.email %></p>
    </div>
  </div>
  <div class="question">
    <p class="reverse">Также здесь Вы можете <strong>задать вопрос священнику</strong></p>
    <button class="button"><i class="fas fa-caret-square-right"></i></button>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7949.195956299897!2d64.8001849!3d60.1261124!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13ae939691ec8e5d!2z0KXRgNCw0Lwg0KDQvtC20LTQtdGB0YLQstCwINCf0YDQtdGB0LLRj9GC0L7QuSDQkdC-0LPQvtGA0L7QtNC40YbRiw!5e0!3m2!1sru!2sru!4v1549067654188" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<%= render 'shared/footer' %>

<script>
  setNavStyle();
</script>
