<%= render 'shared/nav' %>

<div class="empty-top"></div>
<div class="container admin-panel">
  <div class="row">
    <div class="col-md-6">
      <h3>Контактная информация для сайта</h3>
    </div>
    <div class="col-md-6">
      <%= link_to 'Редактировать', edit_contact_path(@contact), class: 'button' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p><strong>VK:</strong> <%= @contact.vk_link %></p>
      <p><strong>E-mail:</strong> <%= @contact.email %></p>
      <p><strong>Телефон</strong> <%= @contact.phone %></p>
      <p><strong>Полный адрес:</strong> <%= @contact.address %></p>
      <p><strong>Короткий адрес:</strong> <%= @contact.small_address %></p>
      <p><strong>Реквизиты:</strong></p>
      <div style="padding: 0 20px">
          <p><%= @contact.requisite.html_safe %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>