<%= render 'shared/nav' %>
<div class="empty-top"></div>

<h2 class="title">О храме</h2>

<div class="container">
  <div class="row">
    <div class="col-12 about-temple">
      <div><%= @text.content.html_safe %></div>
      <button class="button">расписание</button>
    </div>
  </div>
  <div class="row about-links">
    <div class="col-md-3 about-link">
      <%= link_to 'История храма', history_path, class: 'button' %>
    </div>
    <div class="col-md-6 about-link">
      <%= link_to 'О Рождестве Пресвятой Богородицы', holiday_path, class: 'button' %>
    </div>
    <div class="col-md-3 about-link">
      <%= link_to 'Духовенство', about_path, class: 'button' %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>