<!DOCTYPE html>
<html>
  <head>
    <title>Храм Рождества Пресвятой Богородицы города Урай</title>
    <meta name="description" content="Храм города Урай русской православной церкви в честь рождества Пресвятой Богородицы. Ханты-мансийская митрополия" />
    <meta name="keywords" content="урай храм богородицы православная церковь" />
    <meta name="yandex-verification" content="df6c3d98a20d78de" />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
